
<h1> Creation d'informations sur l'entreprise </h1>
<form method="POST">
    <div>
        <label for = "nom_entreprise"> Nom de l'entreprise </label>
        <input type="text" id= "nom_entreprise" name="nom_entreprise" required>
    </div>

    <div>
        <label for = "adresse_entreprise"> Adresse </label>
        <input type="text" id= "adresse_entreprise" name="adresse_entreprise" required>
    </div>

    <input type="submit" value="envoyer">
</form>