<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1> Gestion Alternance </h1>
         <a href = "/individu" > Individus </a>
         <a href = "/formation" > Formations </a>
         <a href = "/entreprise" > Entreprises </a>

        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
